body {
  font-family: "Roboto", sans-serif;
  background: #FFFFFF;
  color: #212121;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

.header {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  border-bottom: 1px solid #ECECEC;
  width: 1200px;
  margin: 0px auto;
}
.header__name {
  margin-right: 93px;
}
.header__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}
.header__pages a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header__nav-list {
  margin-right: 46px;
}
.header__pages-list--active::after {
  content: "";
  position: relative;
  right: 0px;
  bottom: -30px;
  background: #2196F3;
  height: 4px;
  display: block;
  border-radius: 2px;
}
.header__link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link--active {
  color: #2196F3;
}
.header__link:hover, .header__link:focus-within {
  color: #2196F3;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.header__contacts-list {
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms, 250ms;
          transition-duration: 250ms, 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
}
.header__contacts-link:hover, .header__contacts-link:focus-within {
  color: #2196F3;
  fill: #2196F3;
}
.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.header__icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  cursor: pointer;
}
.header__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.title-left {
  font-family: "Raleway", sans-serif;
  color: #2196F3;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.1738;
  letter-spacing: 3%;
}

.title-right {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.383;
  letter-spacing: 3%;
}
.title-right--header {
  color: #000;
}
.title-right--footer {
  color: #FFFFFF;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2F303A;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2F303A;
  width: 1200px;
  margin: 0px auto;
}
.footer__contact {
  list-style: none;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 70px;
  padding-left: 0px;
}
.footer__contact li {
  margin-bottom: 9px;
}
.footer__name {
  margin-bottom: 20px;
}
.footer__name-label {
  text-decoration: none;
}
.footer__address {
  font-size: 14px;
  line-height: 1.1714;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
}
.footer__address--active {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address--active:hover, .footer__address--active:focus-within {
  color: #2196F3;
}
.footer__container {
  padding-top: 72px;
}
.footer__container--margin {
  margin-right: 70px;
}
.footer__container h3 {
  size: 14px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer__portals {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0px;
  gap: 10px;
  margin: 0px;
}
.footer__portals-list {
  list-style: none;
  --color3: $brand-color-background-overall;
}
.footer__portals-link {
  fill: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__portals-link:hover, .footer__portals-link:focus {
  fill: #2196F3;
}
.footer__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: none;
  color: #2196F3;
  padding-left: 16px;
}
.footer__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  height: 50px;
  width: 200px;
  background-color: #2196F3;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  padding-right: 0px;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__button:hover, .footer__button:focus {
  background-color: #268d19;
}
.footer__button-icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  margin-left: 24px;
}/*# sourceMappingURL=main.css.map */