@use "./utils/variables.scss" as * ;


body {
    font-family: 'Roboto', sans-serif;
    background: $brand-color-background-overall;
    color: $brand-color-font-overall;
}

h1,
h2,
h3,
p {
    margin: 0px;
}

@import "./components/header";
@import "./components/title";
@import "./components/footer";