.header {
    background-color: var(--brand-color-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid var(--brand-color-header-border);
    width: 1200px;
    margin: 0px auto;
}

.header__pages {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0px;
}

.header__pages a {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.header__name {
    margin-right: 93px;
}